@charset "utf-8";

html{
  font-size:62.5%;
  scroll-behavior: smooth;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background:#020318;
  font-family:"Pretendard",sans-serif;
  font-size:1.6rem;
  line-height:1.5;
  color:#fff;
}
ul,ol{
  list-style:none;
}
a{
  color:inherit;
  text-decoration:none;
}
img{
  vertical-align:top;
  border:0;
}
fieldset,label{
  border:0;
}
table{
  width:100%;
  border-collapse:collapse;
}
button{
  cursor:pointer;
}

/* / */